.footer {
    height: 50px;
    background: linear-gradient(180deg, rgba(#191970, 0.7) 0%, rgba(#191970, 0.7) 50%, rgba(#191970, 0.8) 50%, rgba(#191970, 0.8) 100%), url("../images/loret.jpg") no-repeat;
    background-size: 5px 5px, cover;
}

.footer .special {
    font-size: 20px;
    float: right;
    padding-top: 10px;
}
